<meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="https://idzan.eu/">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://idzan.eu/img/logo/dark.png">
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary">
    <meta property="twitter:domain" content="idzan.eu">
    <meta property="twitter:url" content="https://idzan.eu/">
    <meta name="twitter:site" content="@idzanmarko">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://idzan.eu/img/logo/dark.png">