<div class="social__icons">
    <a href="https://facebook.com/Idzan.Marko.Official" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden" aria-hidden="true">Facebook </span>
        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
        <div class="icon__square icon__facebook">
            <svg class="icon icon__fill">
                <use href="/svg/icons.svg#facebook"></use>
            </svg>
        </div>
    </a>
    <a href="https://twitter.com/idzanmarko" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden" aria-hidden="true">Twitter </span>
        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
        <div class="icon__square icon__twitter">
            <svg class="icon icon__fill">
                <use href="/svg/icons.svg#twitter"></use>
            </svg>
        </div>
    </a>
    <a href="https://www.linkedin.com/in/markoidzan/" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden" aria-hidden="true">LinkedIn </span>
        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
        <div class="icon__square icon__linkedin">
            <svg class="icon icon__fill">
                <use href="/svg/icons.svg#linkedin"></use>
            </svg>
        </div>
    </a>
    <a href="https://www.instagram.com/idzan.marko.official/" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden" aria-hidden="true">Instagram </span>
        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
        <div class="icon__square icon__instagram">
            <svg class="icon icon__fill">
                <use href="/svg/icons.svg#instagram"></use>
            </svg>
        </div>
    </a>
    <a href="https://www.youtube.com/channel/UC1E7cbcnFqHEqTYmbZHKDPA" target="_blank" rel="noopener noreferrer">
        <span class="visually-hidden" aria-hidden="true">YouTube </span>
        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
        <div class="icon__square icon__youtube">
            <svg class="icon icon__fill">
                <use href="/svg/icons.svg#youtube"></use>
            </svg>
        </div>
    </a>
</div>