$dark-blue: #2d3142;
$white: #fdfbfb;
$darker-white: $white - 15%;
$orange: #ef8354;
$deep-red: #982C03;
$green: #026928;
$red: #ba1e04;
$gray: #4F5D75;

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$instagram: #e1306c;
$youtube: #ff0000;
$github: #333;
$whatsapp: #075e54;
$viber: #59267c;
$telegram: #0088cc;