.container {
    margin: 0 auto;
    position: relative;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social__icons {
    display: flex;
    justify-content: center;
    gap: .25rem;
}

@media (min-width: 720px) {

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .social__icons {
        justify-content: flex-start;
    }
    
}