@import "../utilities/_colors.scss";

.button {
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    border: none;
    text-align: center;
}

.button:hover, .button:focus {
    filter: saturate(150%);
}

.button__about {
    margin-top: 1.75rem;
    width: 50vw;
}

.button__download {
    margin-top: 2rem;
    width: 50vw;
    background: $gray;
    color: $white;
}

.button__more {
    width: 40vw;
}

.button__return {
    width: 55vw;
    background: $gray;
    color: $white;
}

@media (min-width: 720px) {

    .button__about {
        width: 20vw;
    }

    .button__download {
        width: 25vw;
    }

    .button__more {
        width: 15vw;
    }

    .button__return {
        width: 10vw;
    }
}