h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p, span {
    font-family: 'Open Sans' ,sans-serif;
}

strong {
    font-weight: 600;
}

#home h2 {
    font-weight: 600;
}

.site__name {
    font-weight: 600;
}

.site__title {
    font-size: 1.5rem;
}

h1 .site__title--heading {
    font-size: 2rem;
    font-weight: 600;
}

.post__title {
    text-align: center;
    padding: 0 1rem;
}

#about h2, #blog h2, #contact h2 {
    font-weight: 600;
}

.nav__item {
    font-weight: 500;
}

.text__muted {
    font-size: 0.8rem;
    font-weight: 400;
}

.section__title {
    max-width: 75vh;
}

.project__item--title {
    font-size: 0.9rem;
}

.link__external:hover, .link__external:focus, .link__internal:hover, .link__internal:focus {
    filter: brightness(80%);
}

.copyright__text {
    text-align: center;
    /* margin-top: 1rem; */
}

.gdpr__links {
    text-align: center;
}

@media (max-width: 720px) {
    .copyright__text, .gdpr__links {
        margin-top: 1rem;
    }
}